# Budget Compiler

In [1]:
import os
import pandas as pd

## Specify Key arguments

In [2]:
"""
rawDataDir: csv files containing transactions (my bank only allows me to pull 90 days worth at a time =/)
key: The key to apply categories to transactions
dataFolder: Folder where data is stored
data: The transaction data
merchantHeader:  The header in the transaction dataframe for the merchant.  This renames the header in the merchant key for a cleaner merge
"""
rawDataDir = "data/transactions"
key = "merchantKey.csv"
dataFolder = "data"
data = "data.csv"
merchantHeader = "Description"

## Combine all data

In [3]:
#Combine Extraneous Data
df = pd.read_csv(os.path.join(dataFolder, data))

for csv in os.listdir(rawDataDir):
    tempDf = pd.read_csv(os.path.join(rawDataDir, csv))
    df = pd.concat([df, tempDf])

In [4]:
df.to_csv(os.path.join(dataFolder, data), index=False)

# Merge Key with data
---

## Import Data

In [5]:
merchantKey = pd.read_csv(os.path.join(dataFolder, key))
trans = pd.read_csv(os.path.join(dataFolder, data))

In [6]:
trans.drop(columns = ['Account','No.']).head()

,Transaction Date,Posted Date,Description,Debit,Credit,Long Description,category
0,1/2/2023,1/2/2023,Alta Ski Area F,-8.50,NaN,ALTA SKI AREA -F & B,NaN
1,1/2/2023,1/2/2023,Smith's,-18.90,NaN,SMITHS FOOD #4047,NaN
2,1/4/2023,1/4/2023,Payment,NaN,280.0,PAYMENT - THANK YOU,NaN
3,1/4/2023,1/4/2023,Cafe Rio,-25.12,NaN,CAFE RIO 0019 SANDY,NaN
4,1/4/2023,1/4/2023,Deseret Book,NaN,9.2,Deseret Book - 51450,NaN

In [7]:
merchantKey = merchantKey.rename(columns = {'merchant':merchantHeader})
trans['category'] = trans.set_index(merchantHeader).category.fillna(merchantKey.set_index(merchantHeader).category).reset_index().category

In [8]:
trans.to_csv(os.path.join(dataFolder, data), index=False)